@import "colors";
@import "fonts";


* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, $topLeft, $middle, $bottomRight);
  background-attachment: fixed;
  font-family: $mainFont;
  color: $primary;   
  padding: 2%;
}
  
img {
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;     
  padding-bottom: 1%;
}

main {
  display: flex;
  flex-direction: column;  
}

section {
  padding-top: 4%;
}
  
#desc-first {          
  color: $descriptionFirst;
  font-size: $normal;
  font-weight: bold;
}
  
#desc-second {        
  font-size: $large;
  font-weight: bold;
}

#web-graphic {
  max-width: 80%;
}

form {
  width: 100%;  
  padding: 8%;
  color: $secondary;
  background-color: $primary;
  font-weight: bold;  
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
  
#title {
  font-size: $larger;
  font-weight: lighter;
}

label {
  font-size: $small;
}
  
.star {
  color: $warning;
}
  
.fields {
  width: 100%;
  margin: 3% 0%;
  border: none;    
  border-bottom: 1px solid $border;  
}
  
#submit-button {
  width: 50%;  
  padding: 3% 5%;
  margin: 5% 25% 0% 25%;
  color: $primary;
  background-color: $submitBackground;  
  font-weight: bold;
  border-radius: 5px;  
}
  
@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-between;    
  }
  
  section {
    width: 50%;    
  }

  form {
    width: 30%;
    padding: 2% 3%;
  }
}

a {
  color: $primary;
}